{% load static %}
<!DOCTYPE html>
<!-- Website ahiranikasturi.com -->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/window_logo_ak.png' %}" />
		<title>Blog - Ahirani Kasturi Website</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type = "text/css">
	</head>
<body>
	{% include 'marathi/nav.html' %}
	<div class="body">
		<div class="contact">
			<div>
				<h2>Contact</h2>
				<div>
					<h4>Contact Us</h4>
					<p>
						For further inquiries, help or suggestions. You may contact us through the following:
					</p>
					<ul>
						<li class="phone-num">
							(+91)-99823113177 <br> (+91)-9607045008
						</li>
						<li class="email">
							<a href="#">vmvk24pune@gmail.com</a> <br> <a href="#">ahiranikasturi.com</a>
						</li>
						<li class="address">
							Rustan Colony <br> Chinchwad Gaon, Shop no.22
						</li>
					</ul>
				</div>
			</div>
			<div>
				<h2>Send Us A Message</h2>
				<p>
						You Can Leave Us A Message, We Will Replay You In Next 24 Hour!
				</p>

				<form method="POST" novalidate="novalidate" action="">{% csrf_token %}					
					<label for="first_name">First Name
						{{ form.first_name }}
						<span class="error text-danger">{{ form.first_name.errors.as_text }}</span>
						
					</label>

					
					<label for="last_name">Last Name
						{{ form.last_name }}
						<span class="error text-danger">{{ form.last_name.errors.as_text }}</span>
					</label>
					
					<label for="email">Email
						{{ form.email }}
						<span class="error text-danger">{{ form.email.errors.as_text }}</span>
					</label>

					<label for="subject">Subject
						{{ form.subject }}
						<span class="error text-danger">{{ form.subject.errors.as_text }}</span>
					</label>

					<label for="message" class="message">Message</label>
					<textarea name="message" id="message" cols="30" rows="10" value='{{ form.message }}'></textarea>
					<span id="message" class="error text-danger">{{ form.message.errors.as_text }}</span>
					<input type="submit" value="" >
				</form>

			</div>
		</div>
	</div>
{% include 'marathi/footer.html' %}
</body>
</html>
{{ form.media }}